---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1>{{ site.title }}</h1>
</header>

<h3> Compendia </h3>
<ul> <a href = "https://docs.google.com/document/d/188yyg7PlGs_Vz9VTuI_SwfzIjDhtbcaYcWKLEIbdZAE/edit?usp=sharing" >My Compendium of Paper Summaries </a></ul>
<ul> <a href = "https://docs.google.com/document/d/18BPrC7df0hc7eQHF9VKylei5iSUi48gfBeNqn2j9qBA/edit?usp=sharing"> My Compendium of Notes on Online Articles I Found Useful</a></ul>


<h3>RL</h3>
<ul>
  <li> <a href = "https://rpubs.com/arqamrp/mrp" > markov reward processes </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/mdp" > markov decision processes </a></li>
</ul>

<h3>Recommendation systems</h3>
<ul>
  <li> <a href = ""> matrix factorization </a></li>
  <li> <a href = "" > neural collaborative filtering </a></li>
</ul>

<h3>Stats</h3>
<ul>
  <li> <a href = "https://rpubs.com/arqamrp/sampling" > sampling </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/mle" > maximum likelihood estimation </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/clt"> central limit theorem </a> </li>
  <li> <a href = "https://rpubs.com/arqamrp/stochoptim"> stochastic optimisation in R  </a></li>

</ul>

<h3> course assignments, projects and misc</h3>
<ul>
  <li> <a href = "https://github.com/arqamrp/moocs-EDA" > mth208: EDA and shiny app </a></li>
  <li> <a href = "https://github.com/arqamrp/sign-segmentation-isl" > cs779: sign segmentation </a></li>

</ul>

