---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1>{{ site.title }}</h1>
</header>

<h3> Compendia </h3>
<ul> <a href = "https://docs.google.com/document/d/188yyg7PlGs_Vz9VTuI_SwfzIjDhtbcaYcWKLEIbdZAE/edit?usp=sharing" >My Compendium of Paper Summaries </a></ul>
<ul> <a href = "https://docs.google.com/document/d/18BPrC7df0hc7eQHF9VKylei5iSUi48gfBeNqn2j9qBA/edit?usp=sharing"> My Compendium of Notes on Online Articles I Found Useful</a></ul>

<h3>DL</h3>
<ul>
  <li> <a href = "https://www.kaggle.com/code/arqamp/autoencoders/notebook" > vanilla autoencoder </a></li>
  <li> <a href = "" >  </a></li>
</ul>


<h3>RL</h3>
<ul>
  <li> <a href = "https://rpubs.com/arqamrp/mrp" > markov reward processes </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/mdp" > markov decision processes </a></li>
</ul>

<!--
<h3>Recommendation systems</h3>
<ul>
  <li> <a href = ""> matrix factorization </a></li>
  <li> <a href = "" > neural collaborative filtering </a></li>
</ul>

<h3> Bioinformatics </h3>
<ul>
  <li> <a href = ""> BLAST </a></li>
</ul>
!-->

<h3>Misc stats, data science, ml stuff</h3>
<ul>
  <li> <a href = "https://www.kaggle.com/code/arqamp/crabby/notebook"> a naive attempt at regression on tabular data, 22/6/23 </a> </li>
  <li> <a href = "https://drive.google.com/file/d/149WxTct5--WtltFQd08cKJpcdqZsDXQc/view?usp=sharing"> Comparing bridge and OLS linear regression 19/6/23 </a>
  <li> <a href = "https://rpubs.com/arqamrp/metrics"> classification metrics 17/6/23 </a> </li>
  <li> <a href = "https://rpubs.com/arqamrp/imbalance"> class imbalance 17/6/23</a> </li>
  <li> <a href = "https://rpubs.com/arqamrp/tsa"> very high level overview of time series that i dont recommend anyone reads 17/6/23</a> </li>
  <li> <a href = "https://rpubs.com/arqamrp/sampling" > sampling </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/mle" > maximum likelihood estimation </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/clt"> central limit theorem </a> </li>
  <li> <a href = "https://rpubs.com/arqamrp/stochoptim"> stochastic optimisation in R  </a></li>
</ul>




<h3> course assignments, projects and misc</h3>
<ul>
  <li> <a href = "https://github.com/arqamrp/moocs-EDA" > mth208: EDA and shiny app </a></li>
  <li> <a href = "https://github.com/arqamrp/sign-segmentation-isl" > cs779: sign segmentation </a></li>
  <li> <a href = "https://github.com/arqamrp/sentiment-classification" > cs779: sentiment classification </a></li>
  <li> <a href = "https://github.com/arqamrp/coal_pollution_analysis" > ee798: time series analysis of coalfield pollution data </a></li>
  <li> <a href = "https://github.com/arqamrp/stochoptimtests" > unsuccessful GSOC proposal files </a></li>
</ul>

