---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1>{{ site.title }}</h1>
</header>

<h1>Stats and Prob</h1>
[Warning: these are just visualisations that I wrote to help convince myself, and not comprehensive at all.]
<ul>
  <li> <a href = "https://rpubs.com/arqamrp/sampling" > sampling </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/mle" > maximum likelihood estimation </a></li>
  <li> <a href = "https://rpubs.com/arqamrp/clt"> central limit theorem </a> </li>
  <li> <a href = "https://rpubs.com/arqamrp/stochoptim"> ooptimisation in R </a> </li>
  
</ul>

<h1>R</h1>
<ul>
  <li> <a href = "https://github.com/arqamrp/mooc-shiny" > shiny dashboard app </a></li>
</ul>

