---
layout: default
---
<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>

<header>
  <h1>{{ site.title }}</h1>
</header>


<ul>
  <li> <a href = "https://docs.google.com/spreadsheets/d/1RhGLI8Js90zolS_jaKeMIeAC9vwtnzeIUzHtQG0u5Do/edit?usp=sharing" > fiction </a></li>
  <li> <a href = "https://docs.google.com/spreadsheets/d/18ogEGtAfAd6OJaqGsThivxKWD9akcnsjBKmHPPUN4ec/edit?usp=sharing" > motion pictures </a></li>
  <li> <a href = "https://docs.google.com/spreadsheets/d/1xk6JIbJEyEPs7DNj_9Q1fs3TOW_NrzoFtdjTqDHvOW4/edit#gid=0"> blogs </a> </li>
</ul>

  
